.header {
  position: relative;
}
.header__border {
  border-bottom: 1px solid #ececec;
}
.header__container {
  @extend %container;

  @include flex-container;
  justify-content: space-between;

  @media screen and (min-width: 480px) and(max-width:767.98px) {
    max-width: 480px;
    height: 60px;
  }
  @media screen and (min-width: 768px) and (max-width: 1199.98px) {
    max-width: 768px;
  }
}
.menu-btn {
  display: inline-flex;

  position: relative;
  z-index: 6;

  margin: 0;
  padding: 0;
  border: none;

  background-color: transparent;
  @media screen and(min-width: 768px) {
    display: none;
  }
}
.menu-btn:hover .menu-btn__icon--close,
.menu-btn:focus .menu-btn__icon--menu {
  fill: $accent-text-cl;
  transition: fill $animation-timing-function $animation-duration;
}
.menu-btn .menu-btn__icon--close {
  display: none;
}
.menu-btn.is-open .menu-btn__icon--close {
  display: block;
}
.menu-btn.is-open .menu-btn__icon--menu {
  display: none;
}

.menu__container {
  @media screen and(max-width: 767.98px) {
    display: none;

    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    // min-height: 796px;

    padding: 48px 40px;

    background-color: #fff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

    z-index: 5;
  }
  &.is-open {
    display: block;
  }

  @media screen and(min-width: 480px) and(max-width:767.98px) {
    width: 480px;
    left: 50%;
    transform: translateX(-50%);
  }
  @media screen and(min-width: 768px) {
    display: inline-flex;
    justify-content: space-between;
    flex-grow: 2;
  }
}

.header__navigation {
  @media screen and (min-width: 1200px) {
    margin-left: 93px;
  }
}

.navigation {
  color: $title-text-cl;
}
.navigation__list {
  @extend %list;

  @media screen and(min-width:768px) {
    @include flex-container;
  }
}

.navigation__list--margin-b {
  @media screen and(max-width: 767.98px) {
    margin-bottom: 302px;
  }
}

.navigation__item {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  @media screen and(max-width: 767.98px) {
    font-size: 40px;
    line-height: 1.18;
  }
}

.navigation__item--position:not(:last-child) {
  @media screen and(max-width:767.98px) {
    margin-bottom: 32px;
  }
  @media screen and(min-width: 768px) {
    margin-right: 50px;
  }
}

.navigation__link {
  @extend %link;
  display: inline-block;
  padding-top: 32px;
  padding-bottom: 32px;

  transition: color $animation-duration $animation-timing-function;

  @media screen and(max-width:767.98px) {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

.navigation__link--current {
  color: $accent-text-cl;

  @media screen and(min-width: 768px) {
    position: relative;
  }
}

.navigation__link--current::after {
  @media screen and(min-width: 768px) {
    content: "";
    display: block;

    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 4px;

    background: $accent-text-cl;
    border-radius: 2px;
  }
}

.contacts {
  @extend %list;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  @media screen and (max-width: 767.98px) {
    font-size: 24px;
    line-height: 1.17;
  }
  @media screen and (min-width: 768px) and(max-width: 1199.98px) {
    @include flex-container;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  @media screen and (min-width: 1200px) {
    @include flex-container;
  }
}

.header__contacts {
  @media screen and(max-width: 767.98px) {
    margin-bottom: 64px;
  }
}

.contacts__item--margin:not(:last-child) {
  @media screen and (max-width: 767.98px) {
    margin-bottom: 32px;
  }
  @media screen and (min-width: 1200px) {
    margin-right: 30px;
  }
}

.contacts__link {
  @extend %link;
  padding-top: 15px;
  padding-bottom: 15px;
  transform: scale(1);

  transition: transform $animation-duration $animation-timing-function,
    color $animation-duration $animation-timing-function;

  @media screen and(min-width: 768px) {
    @include flex-container;

    padding-top: 5px;
    padding-bottom: 5px;
  }
  @media screen and(min-width: 1200px) {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
.contacts__link:focus,
.contacts__link:hover {
  @media screen and(max-width: 767.98px) {
    transform: scale(1.2) translateX(20px);
  }
}

.contacts__icon {
  display: inline-block;
  fill: currentColor;

  @media screen and(max-width: 767.98px) {
    display: none;
  }
}

.contacts__icon--start {
  margin-right: 10px;
}

.social__list {
  @extend %list;
  display: inline-flex;
  flex-wrap: wrap;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;

  color: $accent-text-cl;

  @media screen and(min-width:768px) {
    display: none;
  }
}

.social__item {
  margin-bottom: 10px;
}

.social__item:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.social__link {
  @extend %link;
  padding: 5px 10px;
}
