.portfolio {
  @extend %section;
}
.portfolio__content-container {
  @extend %container;
}
.btn-set__grid {
  @media screen and (max-width: 767.98px) {
    margin: -8px -4px;
  }
}

.btn-set__grid-item {
  margin: 8px 4px;
}

.btn-set__grid-item:not(:last-child) {
  @media screen and(min-width:768px) {
    margin: 0 8px 0 0;
  }
}
.btn-set {
  @extend %list;
  @include flex-container;
  @media screen and(max-width:767.98px) {
    max-width: 370px;
  }
  @media screen and(min-width:768px) {
    justify-content: center;
  }
}
.btn-set--margin-b {
  @media screen and(max-width: 767.98px) {
    margin-bottom: 40px;
  }
  @media screen and(min-width:768px) {
    margin: 0 0 50px 0;
  }
}
.btn-set__item {
  padding: 6px 22px;

  border: none;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;

  color: $title-text-cl;
  background-color: $grey-bg;

  transition: color $animation-duration $animation-timing-function,
    background-color $animation-duration $animation-timing-function,
    box-shadow $animation-duration $animation-timing-function;
  cursor: pointer;

  &--current,
  &:hover,
  &:focus {
    color: $alt-text-cl;
    background-color: $accent-text-cl;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

.grid {
  @extend %list;
  @media screen and(min-width:768px) {
    @include flex-container;
    align-items: stretch;
    justify-content: start;

    margin: -15px;
  }
}
.grid__item {
  @media screen and(min-width:768px) {
    flex-basis: calc((100% - 15px * 4) / 2);
    margin: 15px;
  }
  @media screen and(min-width:1200px) {
    flex-basis: calc((100% - 15px * 6) / 3);
  }
}
.grid__item:not(:last-child) {
  @media screen and (max-width: 767.98px) {
    margin-bottom: 30px;
  }
}
.product {
  color: inherit;
  text-decoration: none;
}
.product__shadow {
  transition: box-shadow $animation-duration $animation-timing-function;

  @media screen and(min-width: 768px) and(max-width:1199.98px) {
    display: flex;
    flex-direction: column;

    height: 100%;
  }
  .product:hover &,
  .product:focus & {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}
.product__relative-wraper {
  position: relative;
  overflow: hidden;
}
.product__overlay--position {
  position: absolute;
  left: 0;
  top: 0;
}

.product__overlay {
  width: 100%;
  height: 100%;

  @include flex-container;
  justify-content: center;
  padding: 24px;
  background-color: rgba(33, 150, 243, 0.9);

  transform: translateY(101%);
  transition: transform $animation-duration $animation-timing-function;
  .product:hover &,
  .product:focus & {
    transform: translateY(0);
  }

  &-txt {
    font-size: 18px;
    line-height: 1.57;

    color: $alt-text-cl;
  }
}

.product__content {
  flex-grow: 1;
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: 0;
}
.product__name {
  color: $title-text-cl;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.product__txt {
  font-size: 16px;
  line-height: 1.87;
}
.product__txt--margin {
  margin-top: 4px;
}
