$main-font: "Roboto", sans-serif;
$logo-font: "Raleway", sans-serif;

$main-text-cl: #757575;
$title-text-cl: #212121;
$accent-text-cl: #2196f3;
$alt-text-cl: #ffffff;
$icon-color: #afb1b8;

$dark-bg: #2f303a;
$grey-bg: #f5f4fa;
$footer-icon-bgc: rgba(255, 255, 255, 0.1);

$main-padding: 94px;
$card-set-gap: 30px;

$animation-duration: 250ms;
$animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
